body {
    color: #000000DD;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 40px;
    text-shadow: 1px 1px 0px white;
}

html {
    background: url("/static/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
